{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(participantForm) }}
    {{ form_widget(participantForm) }}
    <button type="submit">Enregistrer</button>
    {{ form_end(participantForm) }}

{% endblock %}

{% block title %}

{% endblock %}

