{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Register{% endblock %}

{% block body %}
    <h1>S'inscrire</h1>



    {{ form_start(registrationForm) }}

        {{ form_widget(registrationForm) }}
        <button type="submit" class="btn btn-lg btn-warning">Enregister</button>

    {{ form_end(registrationForm) }}


{% endblock %}
