{% extends 'base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h1>Réinitialiser votre mot de passe</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Entrez votre adresse email et nous vous enverrons un
                lien pour réinitialiser votre mot de passe.
            </small>
        </div>

            <button class="btn btn-primary">Envoyer un email de réinitialisation de mot de passe</button>
    {{ form_end(requestForm) }}
{% endblock %}
