{% extends 'base.html.twig' %}

{% block body %}

    <div id="date">
        <p>Date du jour : {{ date('now')|date('d/m/Y') }} </p>
        <p>Participant : <strong>{{ app.user.nom }} </strong> - Surnom : <strong>{{ app.user.pseudo }} </strong></p>
    </div>
    <div id="filtre">
        <h2> Filtrer les sorties </h2>
        <input type="" id="">
    </div>


    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th>Inscrits/places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>organisateur</th>
                <th colspan="3">Actions</th>
            </tr>
            </thead>
            <tbody id="myTbody">

            </tbody>
        </table>
    </div>
    <template id="ligne">

        <tr>
            <td>0</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td><i class="fas fa-check"></i></td>
            <td>6</td>
            <td colspan="3">
                <!-- lien affiché tout le temps, renvoie vers le détail de la sortie-->
                <a href="#" id="detail">afficher</a>
                <!-- lien à afficher si app.user est inscrit à la sortie ET si date de la sortie non attente; cela décoche la colonne inscrit-->
                <a href="#">Se désister</a>
                <!-- lien à afficher si app.user est l'organisateur ET que la date de la sortie n'est pas atteinte-->
                <a href="#">Modifier</a>
                <!-- lien à afficher si app.user n'est pas inscrit (donc si la croix n'est pas affiché dans la colonne inscrit)-->
                <a href="#" id="inscrire">S'inscrire</a>
                <!-- lien à afficher si app.user est l'organisateur et que la sortie est en état créée(on a
                donc appuyé sur le bouton enregistrer dans le formulaire de création de la sortie-->
                <a href="#" >Publier</a>
                <!-- lien à afficher si app.user est l'organisateur et si l'état est différent de activité en cours -->
                <a href="#">Annuler</a>
            </td>
        </tr>
    </template>


<script src="{{ asset('javascript/listeSortie.js') }}">
</script>

{% endblock %}