{% extends 'base.html.twig' %}

{% block body %}
<p>Ceci est la page principale pour afficher la liste des sorties</p>
    <div id="date">
        <p>Date du jour : {{ date('now')|date('d/m/Y') }} </p>
        <p>Participant : {{ app.user.pseudo }}</p>
    </div>
    <div id="filtre">
        <h2> Filtrer les sorties </h2>
        <input type="" id="">
    </div>


    <ul>
        {% for sortie in listeSorties %}

            <li>notre sortie s'appelle <a href="#"> {{ sortie.nom }} </a> et se passe {{ sortie.lieu.nom }}</li>

        {% endfor %}
    </ul>
{% endblock %}