{% extends 'base.html.twig' %}

{% block body %}

    <div id="date">
        <p>Date du jour : {{ date('now')|date('d/m/Y') }} </p>
        <p>Participant : <strong>{{ app.user.nom }} </strong> - Surnom : <strong>{{ app.user.pseudo }} </strong></p>
    </div>
    <div id="filtre">
        <h2> Filtrer les sorties </h2>
        <label for="campus">Campus : </label>
        <div class="col-2">
        <select class="form-control" name="campus" id="campus" onchange="changerCampus()">
            // ici on alimente
        </select>
        </div>
        <br>
        <label for="filtreNom">Le nom de la sortie contient :</label>
        <div class="col-2">
        <input type="text" onkeyup="filtrer()"
               id="filtreNom" class="form-control" placeholder="Rechercher">
        </div>
        <br>
        <label for="dateDebut">Entre</label>
        <div class="col-2">
        <input type="date" id="dateDebut" class="form-control">
        </div>
        <label for="dateFin">et</label>
        <div class="col-2">
            <input type="date" id="dateFin" class="form-control">
        </div>
        <div class="col-2" id="checkboxes">
            <input type="checkbox" id="critereOrga" onclick="filtrer()"> Sorties dont je suis l'organisateur/trice
            <br>
            <input type="checkbox" id="critereInscrit" onclick="filtrer()"> Sorties auxquelles je suis inscrit/e
            <br>
            <input type="checkbox" id="critereNinscrit" onclick="filtrer()"> Sorties auxquelles je ne suis pas inscrit/e
            <br>
            <input type="checkbox" id="criterePassees" onclick="filtrer()"> Sorties passées
        </div>

    </div>


    <div>
        <table class="table table-striped">
           <!-- Affichage de l'entête du tableau en dur -->
            <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th>Inscrits/places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>organisateur</th>
                <!-- affichage de la dernière colonne sur l'équivalent de 3 td-->
                <th colspan="3">Actions</th>
            </tr>
            </thead>
            <!-- le corps du tableau sera rempli avec du js ==>
            on lui met un id qui permettra-->
            <tbody id="myTbody">

            </tbody>
        </table>
    </div>
    <template id="ligne">
        <tr>
            <td>0</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <!--dans la colonne suivante, affichage par défaut d'une icône v qui sera cachée en JS
             si l'app.user n'est pas inscrit à cette sortie
             C'est une balise <i> qui sera utilisée dans le JS pour venir remplacer son contenu-->
            <td> <i class="fas fa-check"></i> <!--<i class="fab fa-angellist"> </i><i class="fas fa-check"></i> --></td>
            <td>6</td>
            <td colspan="3">
                <!-- lien affiché tout le temps, renvoie vers le détail de la sortie-->
                <a href="#" id="detail">afficher</a>
                <!-- lien à afficher si app.user est inscrit à la sortie ET si date de la sortie non attente; cela décoche la colonne inscrit-->
                <a href="#" id="seDesister">Se désister</a>
                <!-- lien à afficher si app.user est l'organisateur ET que la date de la sortie n'est pas atteinte-->
                <a href="#" id="modifier">Modifier</a>
                <!-- lien à afficher si app.user n'est pas inscrit (donc si la croix n'est pas affiché dans la colonne inscrit)-->
                <a href="#" id="inscrire">S'inscrire</a>
                <!-- lien à afficher si app.user est l'organisateur et que la sortie est en état créée(on a
                donc appuyé sur le bouton enregistrer dans le formulaire de création de la sortie-->
                <a href="#" id="publier" >Publier</a>
                <!-- lien à afficher si app.user est l'organisateur et si l'état est différent de activité en cours -->
                <a href="#" id="annuler">Annuler</a>
            </td>
        </tr>
    </template>
    <!-- création d'un lien vers le fichier js qui regroupe les méthodes à appeler pour l'affichage-->
    <script src="{{ asset('javascript/listeSortie.js') }}">
    </script>

{% endblock %}