{% extends 'base.html.twig' %}

{% block body %}

    <div id="date">
        <p>Date du jour : {{ date('now')|date('d/m/Y') }} </p>
        <p>Participant : <strong>{{ app.user.nom }} </strong> - Surnom : <strong>{{ app.user.pseudo }} </strong></p>
    </div>
    <div id="filtre">
        <h2> Filtrer les sorties </h2>
        <input type="" id="">
    </div>


    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th>Inscrits/places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>organisateur</th>
                <th colspan="3">Actions</th>
            </tr>
            </thead>
            <tbody id="myTbody">

            </tbody>
        </table>
    </div>
    <template id="ligne">

        <tr>
            <td>0</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td colspan="3">
                <!-- lien affiché tout le temps, renvoie vers le détail de la sortie-->
                <a href="#">afficher</a>
                <!-- lien à afficher si app.user est inscrit à la sortie ET si date de la sortie non attente; cela décoche la colonne inscrit-->
                <a href="#">Se désister</a>
                <!-- lien à afficher si app.user est l'organisateur ET que la date de la sortie n'est pas atteinte-->
                <a href="#">Modifier</a>
                <!-- lien à afficher si app.user n'est pas inscrit (donc si la croix n'est pas affiché dans la colonne inscrit)-->
                <a href="#">S'inscrire</a>
                <!-- lien à afficher si app.user est l'organisateur et que la sortie est en état créée(on a
                donc appuyé sur le bouton enregistrer dans le formulaire de création de la sortie-->
                <a href="#">Publier</a>
                <!-- lien à afficher si app.user est l'organisateur et si l'état est différent de activité en cours -->
                <a href="#">Annuler</a>
            </td>
        </tr>
    </template>


<script>
    function afficherTableau(tableau) {
        let tbody = document.querySelector("#myTbody");
        let template = document.querySelector("#ligne");


        for (let s of tableau){
            // je clone le contenu du template dans une variable
            let clone = template.content.cloneNode(true);
            // je mets un sélecteur à l'interieur de la partie HTMl clonée
            let tabTd = clone.querySelectorAll("td"); // j'ai un tableau
            tabTd[0].innerHTML = s.nom;
            tabTd[1].innerHTML = s.dateHeureDebut;
            tabTd[2].innerHTML = s.dateLimiteInscription;
            tabTd[3].innerHTML = s.nbInscriptionsMax;
            tabTd[4].innerHTML = s.etat;
            tabTd[5].innerHTML = s.participant;
            tabTd[6].innerHTML = s.organisateur;

            // j'ajoute la balise <tr> dans la balise tbody
            tbody.appendChild(clone);
        }
    }
    {#
    // récupération de l'organisateur de la sortie à partir de son id
    //$organisateur = $repo->findOneBy(["id"=>$id]);
    function liste(){
        /*
         let url = 'http://localhost/projet-vierge/public/api/personne/';
         fetch(url)
             .then(response => response.json()) // renvoie au 2 eme then le body (contenu JSON)
             .then(tableau =>
             {
                 //console.log(tableau);
                 afficherTab(tableau);
             });
 */
    }
#}
    let url = 'http://localhost:8000/sortie/api/liste/';
    fetch(url)
        .then(response => response.json()) // renvoie au 2 eme then le body (contenu JSON)
        .then(tableau=>
        {
            console.log(tableau);
            afficherTableau(tableau);
        });
</script>

{% endblock %}